<nav
  class="sticky top-0 mx-auto p-5 font-sans flex justify-between py-4 px-6 bg-green-800 shadow sm:items-baseline w-full mb-14"
>
  <div>
    <a
      routerLink="/"
      class="text-2xl no-underline text-white hover:text-gray-300"
      >EMS</a
    >
  </div>
  <ul class="flex flex-row">
    <a
      routerLink="/new"
      class="pr-5 text-lg no-underline text-white hover:text-gray-300"
      >Add</a
    >
    <a
      routerLink="/list"
      class="pr-5 text-lg no-underline text-white hover:text-gray-300"
      >List</a
    >
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="text-center p-4 bg-gray-200 text-sm sm:text-lg">
  <p>
    <a href="https://github.com/joneskj55" target="_blank" aria-label="github"
      ><i aria-hidden="true" id="github-icon" class="fab fa-github social"></i
    ></a>
    <a href="https://kevinjones.engineer" target="_blank" class="p-4"
      >Kevin Jones Global Software, Est. 2016</a
    >
    <a
      href="https://linkedin.com/in/joneskj55"
      target="_blank"
      aria-label="linkedin"
      ><i aria-hidden="true" class="fab fa-linkedin social"></i
    ></a>
  </p>
</footer>
